#==========================================================================
# Git-Ignore
#
# @see https://git-scm.com/docs/gitignore
#==========================================================================

.idea/
node_modules/
public/storage/
vendor/

.env
.phpstorm.meta.php
_ide_helper.php
Homestead.json
Homestead.yaml
